#greenprocent
{
	color: #0C8610;
}
#orangeprocent
{
	color: #F46F08;
}
#redprocent
{
	color: #BB1717;
}

body 
{
	font-family: verdana;
	padding: 10px;
}
#wrap 
{
	width: 940px;
	margin: auto;
	border: 5px black solid;
	border-radius: 25px;
	padding: 0;
	overflow: auto;
}
.middlerow 
{
	position: absolute;
	left: 170px;
}
.lastrow
{
	position: absolute;
	left: 330px;
}
.box
{
	border: 1px black solid;
	border-radius: 5px;
	margin: 5px 0;
	padding: 5px;
	width: 500px;
}
.infobox
{
	border: 1px black solid;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	width: 500px;
}
.resultsbox
{
	border: 1px black solid;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	width: 500px;
	position: relative;
}
.myquizbox
{
	position: relative;
	border: 1px black solid;
	border-radius: 5px;
	margin: 5px;
	margin-top: 10px;
	margin-left: 0;
	padding: 5px;
	width: 210px;
	float: right;
	height: auto;
}
.tabort
{
	position: absolute;
	right: 5px;
}
.andra
{
	position: absolute;
	right: 70px;
}
p
{
	margin: 0;
	padding: 0;
}
h1
{
	margin: 0;
	font-size: 70px;
}
#header
{
	background-color: #aaa;
	text-align: center;
	height: 90px;
	line-height: 90px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#profcolumn
{
	float: left;
	width: 160px;
	height: auto;
	padding: 10px;
	overflow: auto;
}
#content
{
	float: left;
	padding: 5px 0;
	margin: 0;
}
h3
{
	margin-top: 3px;
	margin-bottom: 5px;
	margin-left: 0;
	margin-right: 0;
}
a
{
	color: red;
	text-decoration: none;
}
@media screen and (max-width: 1000px)
{
	#wrap
	{
		width: 600px;
	}
	#profcolumn
	{
		float:none;
		margin: auto;
		width: 300px;
		border: 1px black solid;
		border-radius: 5px;
		margin-top: 5px;
	}
	img
	{
		float:left;
		margin-right: 5px;
	}
	#content
	{
		float: none;
		margin: auto;
	}
	.myquizbox
	{
		float: none;
		margin: auto;
		margin-bottom: 5px;
	}
	.box
	{
		margin: auto;
		margin-bottom: 5px;
	}
	.infobox
	{
		margin: auto;
		margin-bottom: 5px;
	}
	.resultsbox
	{
		margin: auto;
	}

}
@media screen and (max-width: 620px)
{
	#wrap
	{
		width: 450px;
	}
	#profcolumn
	{
		float:none;
		margin: auto;
		width: 300px;
		border: 1px black solid;
		border-radius: 5px;
		margin-top: 5px;
	}
	img
	{
		float:left;
		margin-right: 5px;
	}
	#content
	{
		float: none;
		margin: auto;
	}
	.myquizbox
	{
		float: none;
		margin: auto;
		margin-bottom: 5px;
	}
	.box
	{
		margin: auto;
		margin-bottom: 5px;
		width: 400px;

	}
	.infobox
	{
		margin: auto;
		margin-bottom: 5px;
		width: 400px;
	}
	.resultsbox
	{
		margin: auto;
		width: 400px;
	}
	.middlerow
	{
		left: 120px;
	}
	.lastrow
	{
		left: 215px;
	}

}